---
layout: default
title: Home
---

<h1 class="page-heading">Genesis Hub</h1>
<p>Welcome to the Genesis Hub. This site maintains the vision, culture, and community for the Genesis multicreator gaming universe. So, if this is your first time here, check out the <a href={{"vision"|relative_url}}>Vision section</a> to learn more about Genesis.</p>
<h2>Vision</h2>
{% include content/vision/summary.md %}
<p>The <a href={{"vision"|relative_url}}>Vision section</a> contains an overview of Genesis, including its culture, community, governance, tokenomics, and roadmap.</p>

<h2>Community & Governance</h2>
<p>Genesis is community-developed and community-goverened. The <a href={{"governance"|relative_url}}>Governance section</a> lays out the Genesis governance processes and procedures, and the <a href={{"cips"|relative_url}}>Community Improvement Proposals (CIPs) section</a> contains all current and past comunity proposals.</p>
<p>You can also find important documents such as community guidelines and terms of service in the <a href={{"resources"|relative_url}}>Resources section</a>.</p>
{% include content/community/sites.md %}
<h2>Improvements</h2>
<p>Geneis is, and always will be, a work in progress. You can make change happen. Find a typo in the site? Open a pull request on the <a href="https://github.com/genesis-worlds/governance/" target="_blank">Genesis Github</a>. Or, if you have a suggestion you want to implement, head over to the <a href={{"cips"|relative_url}}>Community Improvement Proposals</a>, and start to make your mark on the future of Genesis.</p>