---
layout: default
group: Vision
title: Tokenomics
---

{% include coremenu.html %}
<h1 class="page-heading">Tokenomics</h1>
{% include content/tokenomics/summary.md %}
{% include content/tokenomics/tokenflow.md %}
{% include content/tokenomics/fairlaunch.md %}
{% include content/tokenomics/tokenlaunch.md %}
{% include content/tokenomics/worlds.md %}
{% include content/tokenomics/genesis.md %}
{% include content/tokenomics/land.md %}
{% include content/tokenomics/items.md %}

<p><a href="{{"vision/governance"|relative_url}}">< Governance </a> | <a href="{{"vision/roadmap"|relative_url}}">Roadmap > </a></p>