
<style type="text/css">
  .alert-box {
    border: black solid 2px;
    margin: 20px;
    padding: 20px 20px 0px 20px;
    text-align: center;
    background: aliceblue;
    border-radius: 10px;
  }
</style>

<style type="text/css">
  .centered-social {
    text-align: left;
    margin: auto;
    width: fit-content;
  }
</style>
<div class="alert-box">
  <h3>Work in Progress</h3>
  <p>The Genesis Hub is very much a work in progress. Our current focus is on ensuring 
    the <a href={{"whitepaper"|relative_url}}>White Paper</a> and <a href={{"vision"|relative_url}}>Vision section</a> is clearly written and explains the project well. Your input is critical, so if you see something you think could be better, reach out to us:</p>
  <div class="centered-social">
    {% include social.html %}
  </div>
</div>