---
layout: default
group: Core
title: Tokenomics
---

{% include coremenu.html %}
<h1 class="page-heading">Tokenomics</h1>
{% include content/vision/economics.md %}
{% include content/tokenomics/fairlaunch.md %}
{% include content/tokenomics/worlds.md %}
{% include content/tokenomics/genesis.md %}
{% include content/tokenomics/land.md %}
{% include content/tokenomics/items.md %}

<p><a href="{{"core/philosophy"|relative_url}}">< Prev </a> | <a href="{{"core/governance"|relative_url}}">Next > </a></p>