---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'minima';

.page-content {
  a.anchor-link {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: -22px;
    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='anchor-link-icon' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}

main.page-content {
  div.wrapper {
    //max-width: unset;
  }
  margin-top: 60px;
}

.site-header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  text-transform: uppercase;
  // font-family: 'Montserrat';
  font-family: 'Roboto', sans-serif;

  .wrapper {
    display: block !important;
    flex-direction: unset !important;
    max-width: unset;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  text-transform: uppercase;
  // font-family: 'Montserrat';
  font-family: 'Roboto', sans-serif;
}

.wrapper>h1, .wrapper>h2 {
  margin-top: 48px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.legal-text {
  font-weight: 200; 
  font-size: 0.8rem;
}

@media screen and (max-width: 800px) { .site-nav { position: absolute; top: 9px; right: 15px; background-color: #fdfdfd; border: 1px solid #e8e8e8; border-radius: 5px; text-align: right; }
  .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; }
  .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; }
  .site-nav .menu-icon > svg { fill: #424242; }
  .site-nav input ~ .trigger { clear: both; display: none; }
  .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; }
  .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; }
  .site-nav .page-link:not(:last-child) { margin-right: 0; } }

.footer-heading {
  display: none;
}

.team-grid {
  display: flex;
  flex-direction: row;
  text-align: center;
  .team-column {
    flex: 1;
  }
}

.full-image {
  width: 800px;
  margin-bottom: 16px;
  max-width: 100%;
  @media screen and (max-width: 800px) {
    margin: 0 0 16px -16px;
    width: 100vw;
    max-width: 800px;
  }
}