---
permalink: whitepaper
layout: default
title: White Paper
---

<h1>Genesis Worlds White Paper</h1>
{% include content/whitepaper/intro.md %}
<h2>WHITE PAPER DISCLAIMER</h2>
{% include content/whitepaper/disclaimer.md %}
<h2>Vision</h2>
{% include content/vision/_content.md %}
<h2>Community</h2>
{% include content/community/_content.md %}
<h2>Culture</h2>
{% include content/culture/_content.md %}
<h2>Governance</h2>
{% include content/governance/_content.md %}
<h2>Tokenomics</h2>
{% include content/tokenomics/_content.md %}
<h2>Roadmap</h2>
{% include content/roadmap/_content.md %}
<h2>Legal Notices</h2>
{% include content/whitepaper/legalnotices.md %}