---
permalink: whitepaper
layout: default
title: White Paper
---

<h1>Genesis&nbsp;Worlds White&nbsp;Paper</h1>
{% include content/whitepaper/intro.md %}
<h2>WHITE PAPER DISCLAIMER</h2>
{% include content/whitepaper/disclaimer.md %}
<h2>Vision</h2>
{% include content/whitepaper/vision.md %}
<h2>The Game</h2>
{% include content/whitepaper/gameplay.md %}
<h2>Community</h2>
{% include content/whitepaper/community.md %}
<h2>Culture</h2>
{% include content/whitepaper/culture.md %}
<h2>Governance</h2>
{% include content/whitepaper/governance.md %}
<h2>Tokenomics</h2>
{% include content/whitepaper/tokenomics.md %}
<h2>Roadmap</h2>
{% include content/whitepaper/roadmap.md %}
<h2>Team</h2>
{% include content/whitepaper/team.md %}
<h2>Legal Notices</h2>
{% include content/whitepaper/legalnotices.md %}