---
permalink: whitepaper
layout: page
title: White Paper
---

<h1 id="whitepaper">Genesis&nbsp;Worlds White&nbsp;Paper</h1>
{% include content/whitepaper/intro.md %}
<h2 id="disclaimer">WHITE PAPER DISCLAIMER</h2>
{% include content/whitepaper/disclaimer.md %}
<h2 id="vision">Vision</h2>
{% include content/whitepaper/vision.md %}
<h2 id="game">The Game</h2>
{% include content/whitepaper/gameplay.md %}
<h2 id="community">Community</h2>
{% include content/whitepaper/community.md %}
<h2 id="culture">Culture</h2>
{% include content/whitepaper/culture.md %}
<h2 id="governance">Governance</h2>
{% include content/whitepaper/governance.md %}
<h2 id="tokenomics">Tokenomics</h2>
{% include content/whitepaper/tokenomics.md %}
<h2 id="roadmap">Roadmap</h2>
{% include content/whitepaper/roadmap.md %}
<h2 id="team">Team</h2>
{% include content/whitepaper/team.md %}
<h2 id="legal">Legal Notices</h2>
{% include content/whitepaper/legalnotices.md %}