<h2 id="codeofethics">1. GENESIS CODE OF ETHICS</h2>
<p>This Code of Ethics applies to Genesis, the Genesis Foundation, and all of its affiliates or subsidiaries (the “Genesis Group”). Our Values of integrity, responsibility, respect and pioneering are the simplest statement of who we are. They govern everything we do. Our reputation as a company that the users can trust is our most valuable asset, and it is up to all of us to make sure that we continually earn that trust. All of our communications and other interactions with our users should increase their trust in us, that’s why we publish this externally and expect all others who work with us to set themselves equally high principles.</p>

<h2 id="policies">2. POLICIES AND PRINCIPLES</h2>
<p>These Policies and Principles we are talking about the ethical behaviors and guides that we all need to follow when working for or with the Genesis Group. They are mandatory for us, but we also publish them externally on our website in support of transparency. Compliance with these principles is an essential part of the way we conduct business.</p>

<h3>2.1 Standard of Conduct</h3>
<p>We conduct all our operations and transactions with honesty, integrity and openness, and with respect for the human rights and interests of our employees and of all of those with whom we interact.</p>

<h3>2.2 Compliance with Law</h3>
<p>Genesis Group and its employees and contractors are required to know, respect and comply the laws and regulations of the countries in which we operate. Every employee shall act ethically and in compliance with applicable laws and regulations while carrying out the Genesis's business. The Genesis Group has a zero tolerance policy for violations of applicable laws.</p>

<h3>2.3 Financial Recordkeeping/Management</h3>
<p>All relevant transactions must be approved by the Foundation before being implemented. The accounting and cash handling procedures must be followed in order to avoid operational and legal risks.</p>

<h3>2.4 Reporting</h3>
<p>Any breaches of this Code must be reported to the Foundation. Provision has been made for employees to be able to report in confidence and no employee will suffer as a consequence of doing so no matter who he/she is reporting (even a superior). The Genesis Group aims to encourage employees to report potential breaches of the Codes of Ethics, not only once the act is committed.</p>

<h3>2.5 Monitoring and controlling</h3>
<p>Although we respect your privacy please be aware that for personal business you should use your personal devices. The Genesis Group will monitor and control the use of the Genesis Group’s property, which includes, but is not limited to, computer, tablet, cell phone and email accounts provided to you. All devices provided by the Genesis Group have a monitoring software to prevent the commission of illegal acts. Random checks may be made on all the Genesis Group’s devices</p>

<h3>2.6 Employees</h3>
<p>The Genesis Group is committed to a working environment that promotes diversity and equal opportunity and where there is mutual trust, respect for human rights and no discrimination. We are committed to working with employees to develop and enhance each individual’s skills and capabilities, respect them, and maintain good communication with them. This Code of Ethics will be annexed to all employments agreements.</p>

<h3>2.7 Equal Opportunity Employment</h3>
<p>Employment here is based exclusively upon individual merit and qualifications directly related to professional competence in the area where each employee is specialized. We strictly prohibit unlawful discrimination, harassment, bullying in any form – verbal, physical, or visual or any other characteristics protected by law (such as race, sex, marital status, medical condition, etc.). We also make all reasonable accommodations to meet our obligations under laws protecting the rights of the disabled.</p>

<h3>2.8 Health and Safety in the Workplace</h3>
<p>We are committed to a safe work environment, and we strongly procure full compliance with health and safety regulation. All employees will be receive training concerning safety procedures and fire drills. Furthermore, we encourage a healthy diet for our employees and we make available fruit and vegetables for snacking in the workplace.</p>

<h3>2.9 No Violence</h3>
<p>We are committed to a violence-free work environment, and we have zero tolerance for any level of violence, harassment or any other inappropriate behavior in the workplace.</p>

<h3>2.10 Drugs and Alcohol</h3>
<p>Substance abuse is incompatible with the health and safety of our employees, and we don’t permit it. Consumption of alcohol is banned at our offices, except for special events, where all employees should use a good judgment and never drink in a way that leads to impaired performance or inappropriate behavior, endangers the safety of others, or violates the law. Illegal drugs in our offices are strictly prohibited.</p>

<h3>2.11 The Environment</h3>
<p>Genesis is committed to promote environmental care, increase understanding of environmental issues and disseminate good practice inside the company with recycling procedures.</p>

<h3>2.12 Records and Reports</h3>
<p>Open and effective cooperation requires correct and truthful reporting. This applies equally to the relationship with shareholders, employees, customers and the Genesis Group as well as with the public and any governmental offices such as, for instance, supervisory authorities.</p>

<h3>2.13 Confidentiality</h3>
<p>Confidentiality must be maintained with regard to internal corporate matters which have not been made known to the public. We respect and protect the data privacy and security of the information that we received from any third party.</p>

<h2 id="implementation">3. IMPLEMENTATION – TRAINING PROCEDURES</h2>
<p>Genesis shall conduct regular training procedures to make sure that everyone knows and understands the Code of Ethics. Our employees are the face of our Company and we train them to respect the Company’s principles and standards not only while working but also in their own life.</p>

<h2 id="partners">4. TREATMENT OF BUSINESS PARTNERS AND THIRD PARTIES/CONFLICTS OF INTEREST</h2>
<h3>4.1 Shareholders</h3>
Genesis will conduct its operations in accordance with internationally accepted principles of good corporate governance. We will provide timely, regular and reliable information on our activities, structure, financial situation and performance to all shareholders anytime they need it and also be in accordance between all the companies in the Genesis Group.

<h3>4.2 Competition</h3>
<p>Genesis companies and employees will conduct their operations in accordance with the principles of fair competition and all applicable regulations. Every employee must comply with the laws of fair competition. Employees shall seek guidance from the legal department of their particular company within the Genesis Group when in doubt.</p>

<h3>4.3 Business Integrity – Gifts</h3>
<p>Genesis does not give or receive, whether directly or indirectly, bribes or other improper payments or advantages for business or financial gain. One of our principles is to avoid corruption, that’s why no employee may offer, give or receive any gift or payment which is, or may be construed as being, a bribe. Any demand for, or offer of, a bribe must be rejected immediately and reported to the Foundation. In cases of doubt, the recipient should be asked to obtain prior permission from the Foundation.</p>

<h3>4.4 Conflicts of Interests</h3>
<p>All employees and service providers working for Genesis are expected to avoid personal activities and financial interests which could conflict with their responsibilities to the Company. No employee may directly or indirectly, neither in his/her country nor abroad, offer or grant unlawful benefits in connection with his/her business dealings.</p>

<h3>4.5 Public Activities</h3>
<p>Genesis will co-operate with governments and other organizations, both directly and through bodies such as trade associations, in the development of proposed legislation and other regulations which may affect legitimate business interests.</p>

<h3>4.6 Contracts</h3>
<p>Inclusion of the Code of Ethics as an annex to all contracts of the company will be mandatory. All new contractors and partners will need to sign statement acknowledging and accepting the contents of the Code of Ethics to be sure that they know and respect our standards.</p>

<h3>4.7 Know your client</h3>
<p>Before entering into any contract a Know Your Client form should be completed by the relevant party. This should provide for the identification of directors, shareholders and final economic beneficiaries and this allows the company to have a real record of who are we dealing with.</p>

<h2 id="risk">5. BASIC RULES OF CONDUCTS ON RISK MATTERS</h2>
<p>Genesis and its employees will ensure that Genesis does not receive the proceeds of criminal activities. All employees must be alert to the suspicious transactions such as when third parties (i) make or ask for payments in a form outside the ordinary course of business; (ii) split payments from several companies to our company; (iii) make or ask for payments in cash when they are usually made by check or wire transfer; or (iv) make or ask for payments in advance when are not customary or required by contract.</p>

<p>Employees involved in engaging or contracting with third parties such as new clients or investors must:</p>
<ul>
  <li>Ensure that the third parties in question are subject to screening to assess their identity and legitimacy before contracts are signed or transactions occur;</li>
  <li>Carefully consider if it is necessary to consult with the Foundation before deciding whether to do business with the third party.</li>
</ul>

<p>Certain decisions that could involve risks pursuant to the risk matters mentioned should be backed by legal opinions issued by attorneys of the relevant jurisdiction.</p>

<h2 id="breaches">6. BREACHES TO THE CODE</h2>
<p>Breaching the Code of Ethics could have very serious consequences for Genesis and for individuals involved. Where illegal conduct is involved, these could include significant fines for Genesis, imprisonment for individuals and significant damage to our reputation.</p>

<p>Regardless of the sanctions imposed by the law, any employee guilty of a violation of the law or of this Code of Ethics while carrying out the Genesis Group’s business will be subject to disciplinary measures up to and including termination when applicable.</p>